# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
max_line_length = 80

[*.el]
max_line_length = 70

[*.h,*.hpp]
indent_size = 4

# Tab indentation (no size specified)
[{Makefile,*.mk}]
indent_style = tab

# Don't set a line length for text files
[*.{md,txt}]
max_line_length = off

[*.pro]
indent_size = 4
max_line_length = 100

[*.py]
charset = utf-8
indent_size = 4

[*.qml]
indent_size = 4
max_line_length = 100

[*.rb]
indent_size = 2

[*.rs]
indent_size = 4

[*.rst]
indent_size = 3

[*.vb]
end_of_line = crlf
indent_size = 4

[*.xml]
indent_size = 4
