[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.py]
charset = utf-8
indent_size = 4
max_line_length  = 80

[*.{c,cpp,h}]
max_line_length = 80

[*.rst]
max_line_length = 80
indent_size = 3
